.catposts-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.section-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #111827;
}

.posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.post-card {
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.post-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.post-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.post-content {
  padding: 1.25rem;
}

.post-title {
  font-size: 17px;
  font-weight: 700;
  color: #111827;
  line-height: 22px;
  margin: 5px 0;
}

.post-title:hover {
    text-decoration: underline;
}
.post-category {
  background: #000;
  color: #fff;
  display: inline;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}
.post-category a:hover{
    color: #fff !important;
    text-decoration: underline;
}
.post-excerpt {
  color: #374151;
  font-size: 0.95rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.read-more {
  color: #000000;
  font-weight: 600;
  font-size: 0.875rem;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}
.posts-grid a:hover{
  color: #000000;

}
/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.pagination button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #45474b;
}
.post-description {
  color: #8b8b8b;
  font-size: 14px;
}
.pagination span {
  font-weight: 600;
  color: #111827;
}



@media only screen and (max-width: 700px) {
.catposts-section .posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.catposts-section .post-image {
  width: 100%;
  height: 110px;
  -o-object-fit: cover;
  object-fit: cover;
}
.catposts-section .post-content {
  max-width: none;
  padding: 10px;
}
.catposts-section .post-category {
  background: #000;
  color: #fff;
  display: inline;
  font-size: 10px !important;
  padding: 4px;
  border-radius: 5px;
}
.catposts-section .post-title {
  font-size: 13px !important;
  font-weight: 700;
  color: #111827;
  line-height: 17px;
  margin: 5px 0px 0px 0px;
    margin-bottom: 0px;
}
.catposts-section .post-description {
  color: #8b8b8b;
  font-size: 10px;
}
.catposts-section  .read-more {
  font-size: 10px;
}

} 
